@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
       url('fonts/ubuntu-mono-v6-latin-ext_latin-regular.woff2') format('woff2'),
       url('fonts/ubuntu-mono-v6-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'),
       url('fonts/ubuntu-condensed-v7-latin-ext_latin-regular.woff2') format('woff2'),
       url('fonts/ubuntu-condensed-v7-latin-ext_latin-regular.woff') format('woff');
}

.source-font {
  font-family: 'Ubuntu Mono';
  font-weight: 400;
}

.proportional-font {
  font-family: 'Ubuntu Condensed';
  font-weight: 400;
}

body {
  background: #ccc;
  height: 100%;
  margin: 0;
  padding: 0;
  .proportional-font();
}

.start-app {
  .navbar {
    margin-bottom: 0;
  }

  .start-body {
    // force height on main body
    height: calc(~"100vh - 102px");
    .row {
      height: 100%;
      .col-md-6 {
        height: 100%;
        padding: 0;
      }
    }
  }

  .start.graphics, .start-text {
    background-color: #fff;
    border-color: #000;
    border-radius: 4px;
    border-width: 0;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    color: #000;
    display: none;
    margin: 10px;
  }

  .start-graphics svg {
    height: 100%;
    width: 100%;
  }

  .start-text {
    .terminal {
      font-size: 14px;
      height: 100%;
      overflow: scroll;
      padding: 4px 8px;
      .source-font();

      .terminal-text {
        border: 0;
        font-size: 14px;
        outline: none;
        padding: 0;
        width: calc(~"100% - 20px");
      }
    }
  }

  // Window visibility/proportions for different display modes

  &.mode-graphics {
    .start-graphics {
      display: block;
      height: calc(~"100vh - 20px");
      width: calc(~"50vw - 20px");
    }
  }

  &.mode-text {
    .start-text {
      display: block;
      height: calc(~"100vh - 20px");
      width: calc(~"50vw - 20px");
    }
  }

  &.mode-split {
    .start-graphics {
      display: block;
      height: calc(~"65vh - 15px");
      width: calc(~"50vw - 20px");
    }

    .start-text {
      display: block;
      height: calc(~"35vh - 15px");
      width: calc(~"50vw - 20px");
    }
  }

  .start-editor {
    font-size: 14px;
    height: 100%;
    line-height: 18px;
    .source-font();

    .ace_indent-guide {
      background: none;
    }
  }
}

/*
.blocklyText {
  .proportional-font();
}

.blocklyToolboxDiv {
  .blocklyTreeRow {
    line-height: 20px;
    height: 24px;
  }
  .blocklyTreeLabel {
    .proportional-font();
  }
}

.blocklyWidgetDiv {
  .blocklyHtmlInput {
    height: 22px;
    .proportional-font();
  }
}
*/
