$body-font-family: 'Ubuntu Condensed';

@import '{zurb:foundation-sites}/scss/foundation';
@include foundation-everything(true);

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
       url('fonts/ubuntu-mono-v6-latin-ext_latin-regular.woff2') format('woff2'),
       url('fonts/ubuntu-mono-v6-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'),
       url('fonts/ubuntu-condensed-v7-latin-ext_latin-regular.woff2') format('woff2'),
       url('fonts/ubuntu-condensed-v7-latin-ext_latin-regular.woff') format('woff');
}

@mixin source-font {
  font-family: 'Ubuntu Mono';
  font-weight: 400;
}

@mixin proportional-font {
  font-family: 'Ubuntu Condensed';
  font-weight: 400;
}

@mixin box-shadow {
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

body {
  background: #ccc;
  height: 100%;
  margin: 0;
  padding: 0;
}

.start-app {
  .top-bar {
    border: 0;
    border-radius: 0;
    margin: 4px;
    @include box-shadow;

    button {
      margin: 0;
    }
  }

  .start-body {
    // force height on main body
    height: calc(100vh - 102px);

    .row {
      height: 100%;

      .start-column {
        height: 100%;
        padding: 4px;
      }
    }
  }

  .start-graphics, .start-term, .start-help {
    background-color: #f8f8f8;
    color: #000;
    display: none;
    margin: 0;
    width: 100%;
    @include box-shadow;
  }

  .x-start-orient {
    transform: translate(calc(50vw - 4px), calc(32.5vh - 30px)) scale(1,-1);

    @media (min-width: 992px) {
      // this width is sensitive to the relative size of the graphics display,
      // so if the column width changes, this needs to reflect that.
      // the desired width should be half the real width of the left column,
      // minus padding, so: (5 / 12) / 2
      transform: translate(calc(20.8333vw - 4px), calc(32.5vh - 30px)) scale(1,-1);
    }
  }

  .start-term {
    font-size: 16px;
    height: 100%;
    overflow: scroll;
    padding: 4px 8px;
    @include source-font;

    .start-term-output p {
      margin: 0;
    }

    .start-term-input {
      background-color: #f8f8f8;
      border: 0;
      font-size: 16px;
      outline: none;
      padding: 0;
      text-decoration: underline;
      width: 100%;
    }
  }

  .start-help {
    overflow: scroll;
    padding: 20px;
  }

  // Window visibility/proportions for different display modes

  &.start-view-mode-graphics {
    .start-graphics {
      display: block;
      height: calc(100vh - 110px);
    }
  }

  &.start-view-mode-text {
    .start-term {
      display: block;
      height: calc(100vh - 110px);
    }
  }

  &.start-view-mode-split {
    .start-graphics {
      display: block;
      height: calc(65vh - 60px);
    }

    .start-term {
      display: block;
      height: calc(35vh - 60px);
      margin-top: 10px;
    }
  }

  &.start-view-mode-help {
    .start-help {
      display: block;
      height: calc(100vh - 110px);
    }
  }

  .start-editor, .start-builder {
    font-size: 14px;
    height: 100%;
    line-height: 18px;
    @include box-shadow;
  }

  .start-editor {
    @include source-font;
    .ace_indent-guide {
      background: none;
    }
  }

  .start-builder {
    .blocklyText {
      @include proportional-font;
    }
  }
}

.blocklyToolboxDiv {
  .blocklyTreeRow {
    line-height: 20px;
    height: 24px;
  }
  .blocklyTreeLabel {
    @include proportional-font;
  }
}

.blocklyWidgetDiv {
  .blocklyHtmlInput {
    height: 22px;
    @include proportional-font;
  }
}
