@import '{reywood:bootstrap3-sass}/bootstrap';

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
       url('fonts/ubuntu-mono-v6-latin-ext_latin-regular.woff2') format('woff2'),
       url('fonts/ubuntu-mono-v6-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'),
       url('fonts/ubuntu-condensed-v7-latin-ext_latin-regular.woff2') format('woff2'),
       url('fonts/ubuntu-condensed-v7-latin-ext_latin-regular.woff') format('woff');
}

@mixin source-font {
  font-family: 'Ubuntu Mono';
  font-weight: 400;
}

@mixin proportional-font {
  font-family: 'Ubuntu Condensed';
  font-weight: 400;
}

body {
  background: #aaa;
  margin: 0;
  padding: 0;
  @include proportional-font;
}

body, .start-wrapper {
  height: 100%;
}

.start-display {
  .start.graphics, .start-text {
    background-color: #fff;
    border-color: #000;
    border-radius: 4px;
    border-width: 0;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    color: #000;
    display: none;
    margin: 10px;
  }

  .start-graphics svg {
    height: 100%;
    width: 100%;
  }

  .start-text {
    .terminal {
      font-size: 14px;
      height: 100%;
      overflow: scroll;
      padding: 4px 8px;
      @include source-font;

      .terminal-text {
        border: 0;
        font-size: 14px;
        outline: none;
        padding: 0;
        width: calc(100% - 20px);
      }
    }
  }

  // Window visibility/proportions for different display modes

  &.mode-graphics {
    .start-graphics {
      display: block;
      height: calc(100vh - 20px);
      width: calc(50vw - 20px);
    }
  }

  &.mode-text {
    .start-text {
      display: block;
      height: calc(100vh - 20px);
      width: calc(50vw - 20px);
    }
  }

  &.mode-split {
    .start-graphics {
      display: block;
      height: calc(65vh - 15px);
      width: calc(50vw - 20px);
    }

    .start-text {
      display: block;
      height: calc(35vh - 15px);
      width: calc(50vw - 20px);
    }
  }
}

// Sidebar and code editor

.start-sidebar {
  position: fixed;
  height: 100vh;
  right: 10px;
  top: 0;
  width: calc(50vw - 20px);

  .start-editor, .start-terminal, .start-runner {
    border-color: #000;
    border-radius: 4px;
    border-width: 0;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    display: block;
    margin: 10px 0 0;
    @include proportional-font;
  }

  .start-editor {
    font-family: 'Ubuntu Mono';
    font-size: 14px;
    height: calc(100vh - 20px);
    line-height: 18px;

    .ace_indent-guide {
      background: none;
    }

    .blocklyText {
      @include proportional-font;
    }
  }
}

.blocklyToolboxDiv {
  .blocklyTreeRow {
    line-height: 20px;
    height: 24px;
  }
  .blocklyTreeLabel {
    @include proportional-font;
  }
}

.blocklyWidgetDiv {
  .blocklyHtmlInput {
    height: 22px;
    @include proportional-font;
  }
}

.start-runner {
  background-color: #eee;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  height: 40px;
  margin: 10px;
  opacity: 0.75;
  padding: 8px 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;

  &:disabled {
    color: #ccc;
  }

  &:active {
    background-color: #ddd;
  }
}
