$body-font-family: 'Ubuntu Condensed';
$font-family-monospace: 'Ubuntu Mono';

@import '{zurb:foundation-sites}/scss/foundation';
@include foundation-everything(true);

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
       url('fonts/ubuntu-mono-v6-latin-ext_latin-regular.woff2') format('woff2'),
       url('fonts/ubuntu-mono-v6-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'),
       url('fonts/ubuntu-condensed-v7-latin-ext_latin-regular.woff2') format('woff2'),
       url('fonts/ubuntu-condensed-v7-latin-ext_latin-regular.woff') format('woff');
}

@mixin source-font {
  font-family: $font-family-monospace;
  font-weight: 400;
}

@mixin proportional-font {
  font-family: $body-font-family;
  font-weight: 400;
}

@mixin box-shadow {
  box-shadow: 0.125rem 0.125rem 0.375rem rgba(0, 0, 0, 0.2);
}

body {
  background: #ccc;
  height: 100%;
  margin: 0;
  padding: 0;
}

.start-app {
  .top-bar {
    border: 0;
    border-radius: 0;
    margin: 0.25rem;
    @include box-shadow;

    button {
      margin: 0;
    }
  }

  .start-body {
    // force height on main body
    height: calc(100vh - 6.375rem);
    line-height: 1.25;

    .row {
      height: 100%;

      .start-column {
        height: 100%;
        padding: 0.25rem;
      }
    }
  }

  .start-graphics, .start-term, .start-help {
    background-color: #f8f8f8;
    color: #000;
    display: none;
    margin: 0;
    width: 100%;
    @include box-shadow;
  }

  .x-start-orient {
    transform: translate(calc(50vw - 0.25rem), calc(32.5vh - 1.875rem)) scale(1, -1);

    @media #{$large-up} {
      // this width is sensitive to the relative size of the graphics display,
      // so if the column width changes, this needs to reflect that.
      // the desired width should be half the real width of the left column,
      // minus padding, so: (5 / 12) / 2
      transform: translate(calc(20.8333vw - 0.25rem), calc(32.5vh - 1.875rem)) scale(1, -1);
    }
  }

  .start-term {
    height: 100%;
    overflow: scroll;
    padding: 0.25rem 0.5rem;
    @include source-font;

    .start-term-output p {
      line-height: 1.35;
      margin: 0;
    }

    .start-term-input {
      // need to de-style some foundation stuff
      background-color: #f8f8f8;
      border: 0;
      box-shadow: 0 0 0;
      display: inline;
      height: inherit;
      margin: 0;
      outline: none;
      padding: 0;
      text-decoration: underline;
      width: 100%;
    }
  }

  .start-help {
    overflow: scroll;
    padding: 1.25rem;
  }

  // Window visibility/proportions for different display modes

  &.start-view-mode-graphics {
    .start-graphics {
      display: block;
      height: calc(100vh - 6.875rem);
    }
  }

  &.start-view-mode-text {
    .start-term {
      display: block;
      height: calc(100vh - 6.875rem);
    }
  }

  &.start-view-mode-split {
    .start-graphics {
      display: block;
      height: calc(65vh - 3.75rem);
    }

    .start-term {
      display: block;
      height: calc(35vh - 3.75rem);
      margin-top: 0.625rem;
    }
  }

  &.start-view-mode-help {
    .start-help {
      display: block;
      height: calc(100vh - 6.875rem);
    }
  }

  .start-editor, .start-builder {
    font-size: 1rem;
    height: 100%;
    line-height: 1.35;
    @include box-shadow;
  }

  .start-editor {
    @include source-font;

    .ace_indent-guide {
      background: none;
    }
  }

  .start-builder {
    .blocklyText {
      @include proportional-font;
    }
  }
}

.blocklyToolboxDiv {
  .blocklyTreeRow {
    line-height: 1.5rem;
    height: 1.5rem;
  }
  .blocklyTreeLabel {
    @include proportional-font;
  }
}

.blocklyWidgetDiv {
  .blocklyHtmlInput {
    height: 1.375rem;
    @include proportional-font;
  }
}
