.editor {
  width: 100%;
  height: 100%;
}

.editor :global(.glyph-margin-widgets > .codicon) {
  margin-top: -3px;
}

.editor :global(.start-breakpoint::before) {
  color: red;
  content: '\2022';
  font-size: 40px;
}

.editor :global(.start-breakpoint-ghost::before) {
  color: red;
  content: '\2022';
  font-size: 40px;
  opacity: 0.3;
}

.editor :global(.start-snapshot::before) {
  color: green;
  content: '\2022';
  font-size: 40px;
}

.editor :global(.start-current::before) {
  display: block;
  margin-top: 6px;
  color: red;
  content: '\25B6';
  font-size: 16px;
  line-height: 19px;
}

.editor :global(.start-error::before) {
  display: block;
  margin-top: 5px;
  color: var(--color-error);
  content: '\2716';
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.editor :global(.monaco-editor-overlaymessage),
.editor :global(.monaco-editor-overlaymessage .message),
.editor :global(.monaco-editor-overlaymessage .message p) {
  font-family: var(--font-ui);
  font-size: 14px;
}
