.term {
  height: 100%;
  overflow: auto;
}

.inputRow {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  gap: 12px;
  padding-bottom: 8px;
}

.inputField {
  flex: 1;
  min-width: 0;
}

.output {
  padding: 16px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.outputStack {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
