$body-font-family: 'Rubik';
$font-family-monospace: 'Roboto Mono';

@import '~foundation-sites/scss/foundation';
@include foundation-everything(true);

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Rubik:400&subset=latin,latin-ext");

@mixin source-font {
  font-family: $font-family-monospace;
  font-weight: 400;
}

@mixin proportional-font {
  font-family: $body-font-family;
  font-weight: 400;
}

@mixin box-shadow {
  box-shadow: 2px 2px 4px #888;
}

body {
  background: #ccc;
  margin: 0;
  padding: 0;
}

.start-app {
  .top-bar {
    border: 0;
    border-radius: 0;
    margin: 0 4px;
    @include box-shadow;

    ul.is-dropdown-submenu {
      z-index: 100;
      @include box-shadow;

      li.is-submenu-item:not(.active):hover > a {
        background-color: #ccc;
      }
    }

    button {
      margin: 0;
    }
  }

  .start-column {
    padding: 4px;
  }

  .start-graphics, .start-term, .start-help {
    background-color: #f8f8f8;
    color: #000;
    display: none;
    margin: 0;
    width: 100%;
    @include box-shadow;
  }

  .x-start-orient {
    transform: translate(calc(50vw - 4px), calc(32.5vh - 30px)) scale(1, -1);

    @include breakpoint(large up) {
      // this width is sensitive to the relative size of the graphics display,
      // so if the column width changes, this needs to reflect that.
      // the desired width should be half the real width of the left column,
      // minus padding, so: (5 / 12) / 2
      transform: translate(calc(20.8333vw - 4px), calc(32.5vh - 30px)) scale(1, -1);
    }
  }

  .start-term {
    overflow: scroll;
    padding: 4px 8px;
    @include source-font;

    .start-term-output p {
      margin: 0;
    }

    .start-term-command {
      margin-top: 8px;

      .start-term-input {
        display: inline-block;
      }
    }
  }

  .start-help {
    overflow: scroll;
    padding: 20px;
  }

  // Window visibility/proportions for different display modes

  &.start-view-mode-graphics {
    .start-graphics {
      display: block;
      height: calc(100vh - 100px);
    }
  }

  &.start-view-mode-text {
    .start-term {
      display: block;
      height: calc(100vh - 100px);
    }
  }

  &.start-view-mode-split {
    .start-graphics {
      display: block;
      height: calc(65vh - 55px);
    }

    .start-term {
      display: block;
      height: calc(35vh - 55px);
      margin-top: 10px;
    }
  }

  &.start-view-mode-help {
    .start-help {
      display: block;
      height: calc(100vh - 100px);
    }
  }

  .start-editor, .start-builder {
    height: calc(100vh - 100px);
    line-height: 1.35;
    @include box-shadow;
  }

  .start-editor {
    font-size: 16px;
    @include source-font;

    .ace_indent-guide {
      background: none;
    }
  }

  .start-builder {
    .blocklyText {
      @include proportional-font;
    }
  }

  .start-inspector {
    background-color: #f8f8f8;
    color: #000;
    display: block;
    height: calc(100vh - 100px);
    margin: 0;
    overflow: hidden;
    padding: 8px;
    width: 100%;
    @include box-shadow;

    .start-slider {
      padding: 8px;

      input[type=range] {
        -webkit-appearance: none;
        border: 1px solid #ccc;
        border-radius: 8px;
        height: 10px;
        outline: none;
        width: 100%;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          background-color: $primary-color;
          border-radius: 6px;
          cursor: pointer;
          height: 20px;
          width: 10px;
        }
      }
    }

    .start-vars {
      height: calc(100vh - 154px);
      overflow: scroll;

      table {
        margin-bottom: 0;

        .start-vars-name, .start-vars-list-index, .start-vars-table-key {
          width: 25%
        }
        .start-vars-value, .start-vars-list-item, .start-vars-table-item {
          width: 75%
        }
        td.start-vars-name {
          font-weight: bold;
        }
      }
    }
  }
}

.blocklyToolboxDiv {
  .blocklyTreeRow {
    height: 26px;
    padding-right: 16px;
    padding-top: 2px;
  }
  .blocklyTreeLabel {
    @include proportional-font;
  }
}

.blocklyWidgetDiv {
  .blocklyHtmlInput {
    height: 22px;
    @include proportional-font;
  }
}
